<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Sustav rezervacija perilica
        </q-toolbar-title>
        <q-btn
            flat
            dense
            round
            @click="openKorisnik"
            icon="face"
            aria-label="korisnik"
        />
        <q-space />
        <q-btn
            flat
            dense
            round
            @click="openUserPage"
            label="Novi termin"
            icon="face"
            aria-label="korisnik"
        />
        <q-space />
        <q-btn
            flat
            dense
            round
            @click="openPerilica"
            icon="local_laundry_service"
            aria-label="perilica"
        />
        <q-space />
        <q-btn
          flat
          dense
          @click="openLoginPage"
          label="Prijavite se"
        />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'HomePageLayout',
  methods: {
    openKorisnik () {
      this.$router.push('/Korisnik')
    },
    openPerilica () {
      this.$router.push('/Perilica')
    },
    openLoginPage () {
      this.$router.push('/Login')
    },
    openUserPage () {
      this.$router.push('/User')
    }
  }
}
</script>
