<template>
  <div class="q-pa-lg row justify-center">
    <div id="app">
        <img src="./laundry2.png">
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
