<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 1000px"
    >
      <q-table
        v-if="isMounted"
        title="Korisnik"
        :data="korisnici"
        :columns="columns"
        row-key="Broj perilice"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="primary"
            label="Dodajte termin"
            @click="onNewRow"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                color="primary"
                icon="edit"
                label='uredi'
                @click="onUpdateRow(props.row)"/>
            <q-btn
                dense
                color="primary"
                icon="delete"
                label="izbrisi"
                @click="onDeleteRow(props.row)"
             />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Korisnik
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Broj perilice"
            :error="!Korisnik['Broj perilice'] || Korisnik['Broj perilice'].length === 0"
            error-message="Broj perilice is required."
            label="Broj perilice"
            v-model="Korisnik['Broj perilice']"
          />
          <q-input
            ref="Vrijeme početka termina"
            :error="!Korisnik['Vrijeme početka termina'] ||
            Korisnik['Broj perilice']['Vrijeme početka termina'] === 0"
            error-message="Vrijeme početka termina is required."
            label="Vrijeme početka termina"
            v-model="Korisnik['Vrijeme početka termina']"
          />
          <q-input
            ref="Vrijeme kraja termina"
            :error="!Korisnik['Vrijeme kraja termina'] ||
            Korisnik['Broj perilice']['Vrijeme kraja termina'] === 0"
            error-message="Vrijeme kraja termina is required."
            label="Vrijeme kraja termina"
            v-model="Korisnik['Vrijeme kraja termina']"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKClick"
          />
          <q-btn
            color="primary"
            label="Odustani"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'KorisnikIndex',
  data () {
    return {
      openDialog: false,
      Korisnik: null,
      sensorModel: {
        'Broj perilice': null,
        'Vrijeme kraja termina': null,
        'Vrijeme početka termina': null
      },
      isMounted: false,
      korisnici: [],
      columns: [
        {
          name: 'Broj perilice',
          label: 'Broj perilice',
          align: 'left',
          field: 'Broj perilice',
          sortable: true
        },
        {
          name: 'Vrijeme kraja termina',
          label: 'Vrijeme kraja termina',
          align: 'left',
          field: 'Vrijeme kraja termina',
          sortable: true
        },
        {
          name: 'Vrijeme početka termina',
          label: 'Vrijeme početka termina',
          align: 'left',
          field: 'Vrijeme početka termina',
          sortable: false
        }
    ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('Korisnik')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.korisnici.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.Korisnik = JSON.parse(JSON.stringify(this.sensorModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs['Broj perilice'].hasError &&
!this.$refs['Vrijeme kraja termina'].hasError) {
        const collectionRef = this.$db.collection('Korisnik')
        if (this.Korisnik['Broj perilice'] === null) {
          collectionRef.add(this.Korisnik)
            .then((doc) => {
              this.Korisnik['Broj perilice'] = doc.id
              var docRef =
              this.$db.collection('Korisnik').doc(doc.id)
              docRef.update({ 'Broj perilice': doc.id })
                .then((response) => {
                  this.Korisnik['Broj perilice'] = doc.id
                  this.korisnici.push(this.Korisnik)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          var docRef =
          this.$db.collection('Korisnik').doc(this.Korisnik['Broj perilice'])
          docRef.set(this.Korisnik)
            .then((response) => {
              const Korisnik = this.korisnici.find(Korisnik =>
                Korisnik['Broj perilice'] === this.Korisnik['Broj perilice'])
              if (Korisnik) {
                for (const attributeName in this.Korisnik) {
                  Korisnik[attributeName] =
JSON.parse(JSON.stringify(this.Korisnik[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (Korisnik) {
      this.Korisnik = JSON.parse(JSON.stringify(this.sensorModel))
      for (const attributeName in this.Korisnik) {
        this.Korisnik[attributeName] =
JSON.parse(JSON.stringify(Korisnik[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef =
this.$db.collection('Korisnik').doc(row['Broj perilice'])
        docRef.delete()
          .then(() => {
            const index = this.korisnici.findIndex(Korisnik =>
            Korisnik['Broj perilice'] === row['Broj perilice'])
            if (index >= 0) {
              this.korisnici.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    }
  }
}
</script>
