<template>
<div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 2000px"
    >
      <q-table
        v-if="isMounted"
        title="Perilica"
        :data="perilice"
        :columns="columns"
        row-key="BrojPerilice"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="primary"
            label="Dodajte perilicu"
            @click="Novi"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                color="primary"
                icon="edit"
                label='uredi'
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                color="primary"
                icon='delete'
                label="Izbriši"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Perilica
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Broj perilice"
            :error="!Perilica['Broj perilice']"
            error-message="Broj perilice is required."
            label="Broj perilice"
            v-model="Perilica['Broj perilice']"
          />
          <q-input
            ref="Dopuštena kilaža (u kilama)"
            :error="!Perilica['Dopuštena kilaža (u kilama)']"
            error-message="Dopuštena kilaža (u kilama) is required."
            label="Dopuštena kilaža (u kilama)"
            v-model="Perilica['Dopuštena kilaža (u kilama)']"
          />
          <q-input
            ref="Marka perilice"
            :error="!Perilica['Marka perilice']"
            error-message="Marka perilice is required."
            label="Marka perilice"
            v-model="Perilica['Marka perilice']"
          />
          <q-input
            ref="Sušilica"
            :error="!Perilica.Sušilica"
            error-message="Sušilica is required."
            label="Sušilica"
            v-model="Perilica.Sušilica"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKClick"
          />
          <q-btn
            color="primary"
            label="Odustani"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'PeriliceIndex',
  data () {
    return {
      openDialog: false,
      Perilica: null,
      PerilicaModel: {
        'Broj perilice': null,
        'Dopuštena kilaža (u kilama)': null,
        'Marka perilice': null,
        Sušilica: null
      },
      isMounted: false,
      perilice: [],
      columns: [
        {
          name: 'Broj perilice',
          label: 'Broj perilice',
          align: 'left',
          field: 'Broj perilice',
          sortable: true
        },
        {
          name: 'Dopuštena kilaža (u kilama)',
          label: 'Dopuštena kilaža (u kilama)',
          align: 'left',
          field: 'Dopuštena kilaža (u kilama)',
          sortable: false
        },
        {
          name: 'Marka perilice',
          label: 'Marka perilice',
          align: 'left',
          field: 'Marka perilice',
          sortable: true
        },
        {
          name: 'Sušilica',
          label: 'Sušilica',
          align: 'left',
          field: 'Sušilica',
          sortable: true
        },
        {
            name: 'actions',
            label: 'Akcije',
            align: 'left',
            field: null,
            sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('Perilica')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.perilice.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    Novi () {
      this.Perilica = JSON.parse(JSON.stringify(this.PerilicaModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs['Broj perilice'].hasError &&
!this.$refs['Dopuštena kilaža (u kilama)'].hasError && !this.$refs['Marka perilice'].hasError && !this.$refs.Sušilica.hasError) {
        const collectionRef = this.$db.collection('Perilica')
        if (this.Perilica['Broj perilice'] === null) {
          collectionRef.add(this.Perilica)
            .then((doc) => {
              this.Perilica['Broj perilice'] = doc.id
              var docRef =
              this.$db.collection('Perilica').doc(doc.id)
              docRef.update({ 'Broj perilice': doc.id })
                .then((response) => {
                  this.Perilica['Broj perilice'] = doc.id
                  this.perilice.push(this.Perilica)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          var docRef =
          this.$db.collection('Perilica').doc(this.Perilica['Broj perilice'])
          docRef.set(this.Perilica)
            .then((response) => {
              const Perilica = this.perilice.find(Perilica =>
                Perilica['Broj perilice'] === this.Perilica['Broj perilice'])
              if (Perilica) {
                for (const attributeName in this.Perilica) {
                  Perilica[attributeName] =
JSON.parse(JSON.stringify(this.Perilica[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (Perilica) {
      this.Perilica = JSON.parse(JSON.stringify(this.PerilicaModel))
      for (const attributeName in this.Perilica) {
        this.Perilica[attributeName] =
JSON.parse(JSON.stringify(Perilica[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef =
this.$db.collection('Perilica').doc(row['Broj perilice'])
        docRef.delete()
          .then(() => {
            const index = this.perilice.findIndex(Perilica =>
              Perilica['Broj perilice'] === row['Broj perilice'])
            if (index >= 0) {
              this.perilice.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    }
  }
}
</script>
